:root {
  --unit: calc(15px);
  --target: 3;
  --cc: calc(100% - var(--unit));
}

.debug textarea {
  background: red;
}

.debug ::-webkit-resizer {
  background: green;
}

.debug .handle ~ textarea {
  opacity: 1;
}

:root {
  --resize-clip: polygon(
    var(--cc) var(--cc),
    var(--cc) 100%,
    100% 100%,
    100% var(--cc)
  );
}

[class^="resize"] {
  flex: none;
}

[class^="resize"] > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.resize-flip,
.resize-flip > *,
.resize-180,
.resize-180 > * {
  transform: rotate(180deg);
}

.resize-90,
.resize-90 > * {
  transform: rotateY(180deg);
}

.resize-270,
.resize-270 > * {
  transform: rotateX(180deg);
}

.resize-270 > .handle,
.resize-90 > handle,
.resize-270  ::-webkit-resizer,
.resize-90 ::-webkit-resizer,
.resize-270 > textarea,
.resize-90 > textarea {
  cursor: nesw-resize !important;
}

[class^="resize"] > textarea {
  resize: both;
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  max-height: inherit;
  -webkit-clip-path: var(--resize-clip);
  clip-path: var(--resize-clip);
  background: red;
  position: relative;
  display: block;
  transform-origin: bottom right;
  transform: scale(var(--target)) 
    translate(
      calc(calc(calc(1 / var(--target))) * var(--unit)),
      calc(calc(calc(1 / var(--target))) * var(--unit))
    );
}

[class^="resize"] > .handle {
  position: absolute;
  display: block;
  z-index: 2;
  top: auto;
  left: auto;
  transform: translate(50%, 50%);
  pointer-events: none;
}

.handle ~ textarea {
  opacity: 0;
}

.resize-h > textarea,
.resize-x > textarea {
  resize: horizontal;
  height: var(--unit);
  position: relative;
  display: block;
  transform-origin: center right;
  top: 50%;
  transform: scale(1, var(--target))
    translate(
      var(--unit),
      calc(calc(calc(-1 / var(--target)) / 2) * var(--unit))
    );
}

.resize-h > .handle,
.resize-x > .handle {
  position: absolute;
  display: block;
  z-index: 2;
  top: 50%;
  transform: translate(50%, -50%);
  pointer-events: none;
}

.resize-v > textarea,
.resize-y > textarea {
  resize: vertical;
  width: var(--unit);
  position: relative;
  display: block;
  transform-origin: bottom left;
  left: 50%;
  transform: scale(var(--target), 1) translate(-50%, var(--unit));
}

.resize-v > .handle,
.resize-y > .handle {
  position: absolute;
  display: block;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 50%);
  pointer-events: none;
}
